.brand-logo {
    margin-left: 100px;
    color: whitesmoke;
}
.navbarright {
    margin-right: 100px;
}
.bigboy {
    text-align: center;
    font-family: 'Mina', sans-serif;
    font-size: 100px;
    color: #37474f;
    font-weight: 750;
}
* {
    font-family: 'Mina', sans-serif;    
   }